---
layout: splash

intro:
feature_row:
  - image_path: /assets/images/shared/cnc_ladder_picto.jpg
    alt: "diy projects pictogram"
    title: "General DIY"
    excerpt: "All the projects of stuff I have no clue about."
    url: "/tinkering"
    btn_label: "Take me there!"
    btn_class: "btn--primary"
  - image_path: /assets/images/shared/motorbrot_picto.jpg
    alt: "Electronics pictogram"
    title: "Electronics"
    excerpt: "All the projects with stuff I pretend to have a clue about."
    url: "/electronics"
    btn_label: "Take me there!"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}
